/*
    Document   : style
    Created on : May 31, 2013, 1:19:41 PM
    Author     : cavard
    Description:
        Purpose of the stylesheet follows.
*/


div.external_code_warning {
  width: 480px;
  /* height should be the same as the
  embeded code block, to prevent content jump event
  height: 385px;*/
  border: #EBEBEB solid 1px;
  background-color: #F3F3F3;
  border-radius: 5px;
  cursor: pointer;
  padding: 20px;
}

div.external_code_warning div.tab {
  padding-top: 1px;
  height: 10px;
  width: 480px;
}
div.external_code_warning_top {
  width: 480px;
}
div.external_code_warning_top div.image_holder {
  width: 50px;
  float: left;
}

div.external_code_warning_top div.image_holder img {
  width: 50px;
}

div.external_code_warning_top div.title_holder {
  color: red;
  float: left;
  font-family: Georgia;
  font-size: 23px;
  line-height: 50px;
  padding-left: 10px;
  width: 420px;
}

div.external_code_warning_bottom div.text_holder{
  font-family: arial;
  font-size: 14px;
  padding-top: 10px;
  line-height: 16px;
  color: #4e4e4e;
  width: 460px;
}
div.clear {
  clear: both;
}
